<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1100">
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <title>Learn CSS</title>
</head>
<body>
<div class="exampleBlock">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quibusdam ratione recusandae repellat veritatis?
        Consequuntur debitis error quis sapiente sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Adipisci
        aliquam asperiores cumque cupiditate dolores doloribus earum eius ex facere hic, itaque iure laboriosam maiores
        necessitatibus nemo neque nihil obcaecati perferendis, perspiciatis quibusdam sequi sunt veritatis vitae.
        Accusamus
        accusantium autem cumque explicabo facere in ipsa iure modi nihil saepe, vel voluptatum! Lorem ipsum dolor sit
        amet,
        consectetur adipisicing elit. Ad blanditiis explicabo fugiat officiis optio perspiciatis quasi quisquam sit
        tempora
        temporibus ut, veniam voluptas voluptatem. Accusamus deserunt doloremque, maxime nesciunt reiciendis voluptatum.
        Cupiditate excepturi officia quaerat quibusdam tenetur? Ab, doloribus, fuga.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque id molestiae nostrum omnis tempora
        voluptate? A aspernatur dignissimos dolore mollitia provident quam quos recusandae, sed veniam voluptas. A
        accusamus
        accusantium amet consequuntur, cum deserunt ducimus enim eos excepturi illum ipsam iure labore magni molestias
        nam
        necessitatibus, nostrum numquam pariatur, perferendis possimus provident quis quod recusandae rem sit vitae
        voluptatibus. Aliquam atque aut consectetur cumque, ea expedita fugit in labore molestiae, nemo nobis placeat
        porro
        possimus quae quaerat quidem quos sapiente sequi similique vitae! Doloribus fugiat fugit illo omnis sed
        similique
        sint sit. Ad, aspernatur consectetur distinctio esse excepturi harum illum nesciunt omnis pariatur quis sapiente
        sit
        suscipit tenetur, vel veniam! Accusamus cupiditate dolorem enim placeat unde, voluptatum? Adipisci alias aliquid
        amet, architecto at aut consectetur cum debitis deserunt dolores ea, eius eligendi eos est et expedita illum
        inventore ipsa, ipsam maxime minima natus nostrum officiis porro quaerat quas qui sint sit tempore tenetur totam
        vel
        velit voluptas. Accusantium atque aut commodi corporis dolore doloribus ea esse exercitationem fuga inventore
        laudantium molestiae molestias nam, necessitatibus nesciunt nostrum omnis pariatur, quam, quibusdam quis ratione
        reprehenderit sed suscipit. Blanditiis commodi cum dolor dolorem eos eveniet fugiat, fugit illum impedit,
        laboriosam
        libero maxime mollitia necessitatibus praesentium quisquam ratione, tenetur ut? Aliquam blanditiis corporis
        debitis,
        dicta ducimus facilis hic id, itaque laudantium minus nisi odit officiis omnis pariatur quis quo temporibus
        ullam,
        vel! Assumenda commodi consectetur deleniti dolore enim eos et explicabo fugiat id inventore ipsum itaque
        laudantium
        magnam, maxime minima nesciunt non pariatur placeat provident quaerat recusandae reiciendis repellendus
        reprehenderit similique sint soluta ullam velit? A alias, architecto beatae consequuntur distinctio dolor
        dolores
        dolorum ea earum eligendi enim et excepturi expedita facere fugiat illo ipsam itaque nam non odio odit officiis
        omnis optio perferendis quam qui quod quos recusandae rem repellendus reprehenderit repudiandae saepe sequi
        soluta
        sunt veritatis voluptas. A adipisci eaque error laboriosam laudantium maiores molestias odio provident
        repellendus
        tempore. A alias aliquam animi blanditiis corporis, cumque, cupiditate doloremque doloribus earum enim eos error
        ex
        excepturi exercitationem impedit incidunt ipsa, laudantium libero minima molestiae odio optio pariatur
        perspiciatis
        praesentium quam quidem recusandae repudiandae sint suscipit tempora tempore temporibus tenetur vitae? Aperiam
        deserunt dignissimos, fuga fugit illum laudantium minima molestias necessitatibus, nihil quam repellendus sint.
        Blanditiis distinctio doloremque esse excepturi exercitationem, fugit ipsam iure labore nesciunt repellat rerum
        saepe sunt voluptas? Distinctio earum eum facilis fuga quam! Ab aperiam architecto beatae corporis dolorum ea
        earum
        eius eos esse facere facilis id ipsum, laboriosam laborum minima molestias neque nesciunt officia perferendis
        placeat quasi quo similique voluptatum? Consequatur deleniti dolorum laborum magni officia repellendus
        reprehenderit? Aspernatur aut consequuntur corporis cum dolorem doloremque doloribus exercitationem id illo in
        iste
        laboriosam laudantium maiores, nam natus nostrum nulla obcaecati odit officiis pariatur praesentium quaerat quia
        quod recusandae, repudiandae, rerum sed similique velit veritatis voluptatum! Assumenda earum est eum, id
        nesciunt
        nulla numquam odit. Accusantium alias consequatur cumque dolore impedit in ipsa itaque magnam, maxime nam
        nesciunt
        nihil nisi, non omnis quae quibusdam repudiandae sit tempore velit vitae. Consectetur?
    </p>
</div>

<br>

<span class="example-string">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At exercitationem nihil odit quibusdam, soluta voluptas?
    Aliquid animi, corporis fugit iusto perferendis provident ratione velit. Animi asperiores blanditiis, cupiditate
    dicta excepturi, itaque iusto laboriosam laborum molestias placeat qui sequi ullam vel?
    <img class="example-img" th:src="@{/img/imgCat.jpeg}" alt="">
</span>

<br>
<br>

<div class="block">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque eveniet impedit iure modi quos temporibus
        ullam! Assumenda id odit quisquam. Asperiores dicta iste voluptatibus voluptatum! Ad consectetur consequatur
        consequuntur corporis cupiditate dolore dolores earum enim esse eveniet ex fugit illum labore minima nisi
        officia optio quos repudiandae soluta, voluptate!
    </p>
    <p>
        <a href="https://google.com/" class="link">Lorem</a> ipsum dolor sit amet, consectetur adipisicing elit.
        Doloribus exercitationem iure odio quam. Aut
        blanditiis, cupiditate debitis, deleniti earum illo illum impedit laboriosam nihil numquam pariatur porro quod
        similique voluptatibus voluptatum. A ad aliquam aliquid animi aspernatur debitis distinctio, doloremque
        doloribus ex expedita impedit itaque iusto laudantium libero molestiae, molestias necessitatibus nemo optio
        placeat qui quia sed totam unde ut!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor ea in magni maiores necessitatibus
        obcaecati,
        quos sed sequi temporibus!
    </p>
    <form action="#">
        <label>
            <input type="text" class="textInput">
        </label>
        <button class="text-button" type="submit">Отправить</button>
    </form>
    <ul class="list">
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>
</div>

<br>

<div class="positionBlock">
    <div class="block-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, voluptas.</div>
    <div class="block-2">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
    <div class="block-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam.</div>
</div>

<br>

<div class="block-flex">
    <div class="block-flex__row">
        <div class="block-flex__column">
            <div class="block-flex__item">1</div>
        </div>
        <div class="block-flex__column">
            <div class="block-flex__item">
                2
                <br>
                FlexBox
            </div>
        </div>
        <div class="block-flex__column">
            <div class="block-flex__item">3</div>
        </div>
    </div>
</div>

<br>

<div class="grid-box">
    <h1>Grid Box</h1>
    <div class="grid-box__body">
        <div class="grid-box__item">1</div>
        <div class="grid-box__item">2</div>
        <div class="grid-box__item">3</div>
        <div class="grid-box__item">4</div>
        <div class="grid-box__item">5</div>
        <div class="grid-box__item">6</div>
    </div>
</div>
</body>
</html>